<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696056396517-1tsl1m3hj78t1jme2jb11icn15le40o9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696056396517-1tsl1m3hj78t1jme2jb11icn15le40o9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>696056396517-4cus2umdkr45qofv7831reer5kp35re1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDcx3Wf5GTFQ7_KMbETo2gxrEF2shjTU9M</string>
	<key>GCM_SENDER_ID</key>
	<string>696056396517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hazeupp</string>
	<key>PROJECT_ID</key>
	<string>hazeupp-40d94</string>
	<key>STORAGE_BUCKET</key>
	<string>hazeupp-40d94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696056396517:ios:7aa2747618f050fd19720c</string>
</dict>
</plist>